body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F7F8F4;
  color: #3A3A3A;
}

.contenedor {
  display: flex;
  min-height: 100vh;
}
.menu_lateral{
  color: white;
  text-decoration: none;
}

.menu {
  width: 230px;
  background: linear-gradient(135deg, #4eb69d 0%, rgb(168, 229, 248)100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

.imagen_logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.menu button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.menu button:hover {
  background-color: #3AA6BF;
}

.contenido {
  flex: 1;
  padding: 30px 40px;
}

.encabezado {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.icono-logo {
  width: 50px;
  height: 50px;
}

.encabezado h1 {
  font-size: 26px;
  color: #55BFD6;
  margin: 0;
}

h2 {
  margin-top: 10px;
  color: #3A3A3A;
}

.tarjetas {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.tarjeta {
  background: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 14px;
  border-top: 6px solid #55BFD6;
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

.tarjeta h3 {
  margin: 10px 0 5px;
  font-size: 22px;
}

.tarjeta p {
  margin: 0;
  font-size: 14px;
  color: #7A7A7A;
}

.tarjeta:nth-child(2) {
  border-top-color: #FFD166;
}

.tarjeta:nth-child(3) {
  border-top-color: #FF6B4A;
}

.tarjeta:nth-child(4) {
  border-top-color: #3AA6BF;
}

.bloques {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.bloque {
  background: white;
  width: 320px;
  height: 170px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 6px solid #55BFD6;
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.bloque:hover {
  transform: translateY(-4px);
  border-left-color: #FF6B4A;
}

.bloque p {
  margin-top: 10px;
  font-weight: bold;
}
