*{
    box-sizing:border-box;
}

body{
    margin:0;
    background: linear-gradient(135deg ,  #40dab6 0%, #65a1c3 100%);
}

.topbar{
    background:#ffffff;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.topbar a{
    margin-left:15px;
    text-decoration:none;
    color:#333;
    font-weight:bold;
}

.contenedor{
    display:flex;
    padding:30px;
    gap:30px;
}

.formulario{
    flex:3;
    background:white;
    padding:30px;
    border-radius:8px;
}

.consejos{
    flex:1;
    background:#e5e5e5;
    padding:20px;
    border-radius:8px;
}

.fila{
    display:flex;
    gap:20px;
    margin-bottom:15px;
}

.fila div{
    flex:1;
}

input, select, textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

textarea{
    height:80px;
}

.botones button{
    margin-right:10px;
    padding:8px 15px;
    border:1px solid #aaa;
    border-radius:6px;
    cursor:pointer;
    background:#f5f5f5;
}

.foto-box{
    height:120px;
    border:2px dashed #bbb;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:10px;
}

.subir{
    padding:8px 12px;
    background:#ccc;
    border:none;
    border-radius:5px;
}

.salud{
    display:flex;
    gap:30px;
    margin:15px 0;
}

.acciones{
    display:flex;
    justify-content:flex-end;
    gap:15px;
}

.cancelar{
    background:#ccc;
    border:none;
    padding:10px 20px;
    border-radius:6px;
}

.guardar{
    background: linear-gradient(135deg ,  #40dab6 0%, #65a1c3 100%);
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
}

nav a:hover {
    color: 
    #b3b3b3;
}

header div img {
    width: 63px;
}

header .logo {
    align-content: center;
    display: flex;
}

header .logo p {
    font-size: 20px;
    font-weight: bold;
}

.acciones .guardar:hover {
    background: linear-gradient(135deg ,  #32aa8e 0%, #4c7a94 100%);
}

.acciones .cancelar:hover {
    background-color: #919191;
}