* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {

    min-height: 100vh;
    background: linear-gradient(135deg, #4eb69d 0%, rgb(198, 198, 198) 100%);
    color: #333;

}

.logo{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

img{
    width: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    gap: 15px;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #555;
}

header nav a:hover {
    text-decoration: underline;
}

header .perfil {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: linear-gradient(135deg,#49c5b6,#5f9ea0);
    height:100vh;
}


.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#eee;
    padding:10px 20px;
}

.logo{
    font-weight:bold;
}

nav a{
    margin:0 10px;
    text-decoration:none;
    color:#333;
    font-weight:500;
}

.perfil{
    display:flex;
    align-items:center;
    gap:8px;
}

.perfil img{
    border-radius:50%;
}


.contenedor{
    display:grid;
    grid-template-columns: 250px 1fr 220px;
    gap:20px;
    padding:20px;
}


.categorias{
    background:white;
    padding:15px;
    border-radius:12px;
}

.categoria{
    margin-top:15px;
}

.categoria ul{
    list-style:none;
}

.categoria li{
    padding:8px;
    cursor:pointer;
    border-bottom:1px solid #ddd;
}

.categoria li:hover{
    background:#f2f2f2;
}


.foro{
    background:white;
    padding:20px;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    height:75vh;
}

.tema{
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

.infoTema{
    font-size:14px;
    color:gray;
    display:flex;
    gap:20px;
}


.comentarios{
    flex:1;
    overflow-y:auto;
    margin:15px 0;
}

.comentario{
    background:#f5f5f5;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}

.comentario span{
    font-size:12px;
    color:gray;
}


.escribir{
    display:flex;
    gap:10px;
}

textarea{
    flex:1;
    resize:none;
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    background:#49c5b6;
    border:none;
    padding:10px 20px;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#3da99c;
}


.usuarios{
    background:white;
    padding:15px;
    border-radius:12px;
}

.usuario{
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:10px;
}

.usuario img{
    border-radius:50%;
}

.Comentar-tema{
  border: 2px;
  display: flex;
}