body {
  margin: 0%;
  padding: 0%;

}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-titulo img {
  width: 45px;
}

.logo-titulo h1 {
  font-size: 20px;
  margin: 0;
}

.nav-horizontal {
  display: flex;
  align-items: center;
  gap: 18px;
}


.nav-horizontal a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
}

.btn-login:hover {
  background-color: #868686;
}

.nav-horizontal a:hover {
  color: #b9b9b9;
}

.btn-login {
  border: 1px solid #b3b4b3;
  background-color: #b3b4b3;
  border-radius: 6px;
  color: white !important;
}

.btn-register {
  background-color: #b3b4b3;
  color: white !important;
  border-radius: 6px;
}

.btn-register:hover {
  background-color: #868686;
}

.banner-pc {
  background: linear-gradient(135deg, #4eb69d 0%, rgb(198, 198, 198) 100%);
  padding: 25px 40px;
  height: 100%;
  position: absolute;
  width: 95%;
}

.banner-contenido {
  display: flex;
  align-items: flex-start;
  gap: 350px;
  align-items: center;

}

.banner-img {
  background: white;
  padding: 12px;
  border: 2px solid #2a8f83;
}

.banner-img img {
  width: 800px;
  display: block;
}

.banner-texto {
  color: white;
  max-width: 520px;
}

.banner-texto h2 {
  margin-top: 0;
  font-size: 55px;
}

.frase {
  font-style: italic;
  margin: 10px 0;
}

.descripcion {
  font-size: 1, 5em;
  line-height: 1.5;
}

.btn-ir {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
  transition: all 0.3s ease;
}

/* continuacion inicio */

#gatos {
  color: white;
}

#perros {
  color: white;
}

.container {
  padding: 20px 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;

}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;

}

.card {
  background-color: transparent;
  width: 18%;
  text-align: left;
}

.card img {
  width: 90%;
  height: 50%;
  object-fit: cover;
  border-radius: 4px;
}

.card h3 {
  font-size: 25px;
  font-style: italic;
  margin: 10px 0 5px;
  color: white;
}

.card p {
  font-size: 18px;
  line-height: 1.4;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
}

button {
  padding: 6px 25px;
  font-size: 14px;
  border: 1px solid #333;
  background-color: #e6e6e6;
  cursor: pointer;
}

button:hover {
  background-color: #cfcfcf;
}

.btn-siguiente {
  position: absolute;
  right: 50px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
  transition: all 0.3s ease;
}