html {

  scroll-behavior: smooth;

}

body {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #40dab6 0%, #65a1c3 100%);

}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-titulo img {
  width: 45px;
}

.logo-titulo h1 {
  font-size: 25px;
  margin: 0;
}

.nav-horizontal {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-horizontal a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
}

.btn-login:hover {
  background-color: #868686;
}

.nav-horizontal a:hover {
  color: #b9b9b9;
}

.btn-login {
  border: 1px solid #b3b4b3;
  background-color: #b3b4b3;
  border-radius: 6px;
  color: white !important;
}

.btn-register {
  background-color: #b3b4b3;
  color: white !important;
  border-radius: 6px;
}

.btn-register:hover {
  background-color: #868686;
}

.banner-pc {

  padding: 25px 40px;

}

.banner-pc2 {

  padding: 25px 40px;

}

.banner-pc3 {

  padding: 25px 40px;
}

.banner-contenido {
  display: flex;
  align-items: flex-start;
  gap: 350px;
  align-items: center;

}

.banner-img {
  background: white;
  padding: 15px;
  border: 3px solid black;
  border-radius: 15px;
}

.banner-img img {
  width: 800px;
  display: block;
  border-radius: 15px;
}

.banner-texto {
  color: white;
  max-width: 550px;
}

.banner-texto h2 {
  margin-top: 0;
  font-size: 45px;
}

.frase {
  font-style: italic;
  margin: 10px 0;
}

.descripcion {
  font-size: 1, 5em;
  line-height: 1.5;
}

.btn-ir {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
  transition: all 0.3s ease;
}

#gatos {
  color: white;
}

#perros {
  color: white;
}

.container {
  padding: 20px 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;

}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;

}

.card {
  background: linear-gradient(180deg, #23b0c9 0%, #d4d4d4 100%);
  padding: 15px;
  border-radius: 15px;
  border: black solid 4px;
  width: 18%;
  height: 550px;
  text-align: center;
}

.card img {
  width: 90%;
  height: 50%;
  object-fit: cover;
  border-radius: 4px;
}

.card h3 {
  font-size: 25px;
  font-style: italic;
  margin: 10px 0 5px;
  color: white;
}

.card p {
  font-size: 18px;
  line-height: 1.4;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
}

button {
  padding: 6px 25px;
  font-size: 14px;
  border: 1px solid #333;
  background-color: #e6e6e6;
  cursor: pointer;
}

button:hover {
  background-color: #cfcfcf;
}

.btn-siguiente {
  position: absolute;
  right: 50px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
  transition: all 0.3s ease;
}

.card img {

  border: black solid 4px;
}

.Flecha {
  text-align: center;
  padding-right: 100px;
  margin-right: 20px;
  font-size: 50px;
  color: black;
  opacity: 0.0;
  transition: all 0.3s ease;

  cursor: pointer;
}
.Flecha:hover {
    opacity: 1;     
    color: red;     
  }

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }
}