body {
    margin: 0%;
    padding: 0%;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-titulo img {
    width: 45px;
}

.logo-titulo h1 {
    font-size: 25px;
    margin: 0;
}

.nav-horizontal {
    display: flex;
    align-items: center;
    gap: 18px;
}


.nav-horizontal a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 6px 10px;
}

.btn-login:hover {
    background-color: #868686;
}

.nav-horizontal a:hover {
    color: #b9b9b9;
}

.btn-login {
    border: 1px solid #b3b4b3;
    background-color: #b3b4b3;
    border-radius: 6px;
    color: white !important;
}

.btn-register {
    background-color: #b3b4b3;
    color: white !important;
    border-radius: 6px;
}

.btn-register:hover {
    background-color: #868686;
}

.banner-pc {
    background: linear-gradient(135deg, #40dab6 0%, #65a1c3 100%);
    padding: 25px 40px;
    height: 100%;
    position: absolute;
    width: 95%;
}


.header {
    display: flex;
    align-items: center;
    background: #ffffffc7;
    padding: 50px;
    border-radius: 15px;
    border: solid 2px black;
}

.header img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 15px;
    border: solid 2px black;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 100px;
}

.right {
    background: #ffffffc7;
    padding-left: 10px;
    border-radius: 15px;
    border: solid 2px black;
}

.left {
    background: #ffffffc7;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    border: solid 2px black;
}

.left button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #cfcfcf;
    border: none;
    cursor: pointer;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.estado {
    margin: 10px 0;
    font-weight: bold;
}

.estado span {
    color: green;
}