body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    background: linear-gradient(135deg, #40dab6 0%, #65a1c3 100%);
    background-attachment: fixed;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-titulo img {
    width: 45px;
}

.logo-titulo h1 {
    font-size: 25px;
    margin: 0;
}

.nav-horizontal {
    display: flex;
    align-items: center;
    gap: 18px;
}


.nav-horizontal a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 6px 10px;
}

.btn-login:hover {
    background-color: #868686;
}

.nav-horizontal a:hover {
    color: #b9b9b9;
}

.btn-login {
    border: 1px solid #b3b4b3;
    background-color: #b3b4b3;
    border-radius: 6px;
    color: white !important;
}

.btn-register {
    background-color: #b3b4b3;
    color: white !important;
    border-radius: 6px;
}

.btn-register:hover {
    background-color: #868686;
}

.banner-pc {
    padding: 25px 40px;
    width: 95%;
    display: flex;
}


.header {
    display: flex;
    align-items: center;
    background: #ffffffc7;
    padding: 50px;
    border-radius: 15px;
    border: solid 2px black;
}


.right {
    background: #ffffffc7;
    padding: 15px;
    border-radius: 15px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
}


.left {
    background: #ffffffc7;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    border: solid 2px black;
}

.left button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #cfcfcf;
    border: none;
    cursor: pointer;
}

.info {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.mascota {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.btn-mascota {
    font-size: 15px;
    font-weight: bold;
    max-width: 40%;
    margin: auto auto;
    border: 1px solid #b3b4b3;
    background-color: #b3b4b3;
    border-radius: 6px;
    color: white !important;
}

.btn-mascota:hover {
    background-color: #868686;
}

.estado {
    margin: 10px 0;
    font-weight: bold;
}

.estado span {
    color: green;
}

.img-logo {
    border-radius: 15px;
    border: solid 2px black;
    height: 80vh;
    width: 70%;
    
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 580px;

}

.base-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 40px;
    width: 95%;
}