* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    min-height: 100vh;
    background: linear-gradient(135deg, #40dab6 0%, #65a1c3 100%);
    color: #333;

}

.logo {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

img {
    width: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    gap: 15px;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #555;
}

header nav a:hover {
    text-decoration: underline;
}

header .perfil {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}

main {
    position: relative;
    top: 150px;
    left: 80px;
    width: 80%;
    align-content: center;
    gap: 30px;
    display: grid;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.74);
    padding: 15px;
    border: black solid 1px;
}

.separador {
    justify-content: space-between;
    display: flex;
    border: 0px;
    min-width: 500px;
    font-size: 20px;
    width: auto;
}

.separador nav {
    display: flex;
}

.separador nav a {
    margin: 0 8px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
    padding: 3px;
    border-radius: 10px;
    color: #555;
}

.separador nav a:hover {
    background-color: rgb(216, 215, 215);
}

.separador .AddPet {
    font-size: 18px;
    padding: 3px;
}

.carta p {
    font-size: 20px;
}

.carta .extras .infoExtras {
    font-size: 20px;
    border-radius: 10px;
    padding: 3px;
    background: rgb(226, 226, 226);
    border: black solid 1px;
    width: fit-content;
}

.extras {
    display: flex;
    justify-content: space-between;
}

.cards1 {
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 300px;
    height: 390px;
    border: black solid 1px;
}

.cards1 .carta {
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    height: -webkit-fill-available;
    gap: 10px;
}

.carta img {
    width: 200px;
    border-radius: 15px;
}

.Actions2 {
    position: relative;
    left: 115px;
    gap: 15px;
    display: flex;
}

.Actions2 .Actiones {
    font-size: 20px;
    border-radius: 10px;
    padding: 3px;
    background: rgb(226, 226, 226);
    border: black 1px solid;
}

.cards1 button:hover {
    background-color: #cecdcd;
}