* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {

    min-height: 100vh;
    background: linear-gradient(135deg, #4eb69d 0%, rgb(198, 198, 198) 100%);
    color: #333;

}

.logo{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

img{
    width: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    gap: 15px;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #555;
}

header nav a:hover {
    text-decoration: underline;
}

header .perfil {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}

.tabla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.columna{
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.columna h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}

.paginacion{
   display: flex;
    justify-content: center;   
    align-items: center;
    gap: 15px;                 
    margin-top: 15px;
}

.paginacion button{
      background: #2fc29d;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;

.paginacion button:hover{
    background:#2fc29d;
}

.paginacion span{
     font-weight: bold;
    letter-spacing: 5px; 
}