body {
  margin: 0;
  font-family: Arial;
  background-color: #f3f3f3;
}

.contenedor {
  display: flex;
}

.menu {
  width: 220px;
  background-color: #2ea38c;
  color: white;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 25px;
}

.imagen_logo {
  width: 30px;
  height: 30px;
}

.menu button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu button:hover {
  background-color: #dff5f1;
}

.contenido {
  flex: 1;
  padding: 20px;
}

.encabezado {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #c96f2d;
}

.tarjetas {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.tarjeta {
  background: white;
  padding: 15px;
  width: 180px;
  text-align: center;
  border-radius: 8px;
}

.icono-tarjeta {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.bloques {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.bloque {
  background: white;
  width: 300px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icono-bloque {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
