* {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    min-height: 100vh;
    background: linear-gradient(135deg, #4eb69d 0%, #65a1c3 100%);
    color: #333;

}

.logo {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

img {
    width: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    gap: 15px;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #555;
}

header nav a:hover {
    text-decoration: underline;
}

header .perfil {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}

/* MAIN CONTAINER */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

/* CARDS GENERALES */
.card {
    background: #ffffff;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.479);
}

.card h2 {
    margin-bottom: 20px;
    color: #333;
}

/* PERFIL DEL PROPIETARIO */
.profile {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.profile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.profile-info h3 {
    margin-bottom: 6px;
}

.muted {
    font-size: 0.9rem;
    color: #666;
}

.bio {
    margin-top: 10px;
    font-style: italic;
    color: #444;
}

/* TITULOS INTERNOS */
.section-title {
    margin: 25px 0 15px;
    font-size: 1.1rem;
    color: #333;
}

/* MASCOTAS */
.pets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.pet-card {
    background: #dddddd5e;
    border-radius: 6px;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pet-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.349);
}

.pet-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.status {
    font-weight: bold;
    margin-top: 6px;
}

/* ESTADOS */
.adoptable {
    color: #2e8b57;
}

.lost {
    color: #c0392b;
}

/* OBJETIVO */
.highlight {
    background: #ffffffe3;
}

a {
    text-decoration: none;
    color: #000000;
}