*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4eb69d 0%;
    color: white;
    padding: 15px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    width: auto;
}

.nav button{
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background: #4c8578 0%;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav button:hover{
    background: #333;
}

.perfil{
    font-size: 22px;
    cursor: pointer;
    display: flex;
    height: 50px;
}


.contenedor{
    display: flex;
    height: calc(100vh - 70px);
}


.sidebar{
    width: 220px;
    background: #ecf0f1;
    padding: 15px;
}

.sidebar button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #4eb69d 0%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar ul{
    list-style: none;
    margin-top: 10px;
}

.sidebar li{
    padding: 8px;
    cursor: pointer;
    background: #48b99e 0%;
    margin-bottom: 5px;
    border-radius: 4px;
}

.sidebar li:hover{
    background: #4eb69d 0%;
}


.contenido{
    flex: 1;
    padding: 20px;
    position: relative;
}

.foros{
    display: flex;
    left: 23%;
    position:  relative;
    gap: 40px;
    align-items: center;
    width: 880px;

}


.card{
    width: 420px;
    padding: 25px;
    border-radius: 18px;
    background: #fff;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.03);
}

.card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}

.card button{
    margin-top: 18px;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
}

.card button:hover{
    background: #309a81 0%;
}


.paginacion{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.paginacion button{
    padding: 8px 12px;
    margin: 5px;
    border: none;
    background: #246e5d 0%;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {

    min-height: 100vh;
    background: linear-gradient(135deg, #4eb69d 0%, rgb(198, 198, 198) 100%);
    color: #333;

}

.logo{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

img{
    width: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    gap: 15px;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #555;
}

header nav a:hover {
    text-decoration: underline;
}

header .perfil {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}
