* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {

    
    background: linear-gradient(135deg ,  #40dab6 0%, #65a1c3 100%);
    color: #333;

}

.logo{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

img{
    width: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    gap: 15px;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #555;
}

header nav a:hover {
    text-decoration: underline;
}

header .perfil {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}

.contenedor {
    display: flex;
    min-height: calc(100vh - 60px);
    padding: 20px;
    gap: 20px;
}


.formulario-foro {
    background: #ffffffcc;
    backdrop-filter: blur(4px);
    width: 55%;
    padding: 25px;
    border-radius: 10px;
}

.formulario-foro form {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

label,
legend {
    font-size: 14px;
    font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="file"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 14px;
    width: 100%;
    background: #fafafa;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}


.botones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancelar {
    background: #d4d4d4;
}

.crear {
    background: #4eb69d;
    color: white;
}

.preview-foro {
    width: 45%;
    background: #ffffff40;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview-foro h1 {
    font-size: 28px;
    color: white;
}

.preview-foro p {
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .formulario-foro,
    .preview-foro {
        width: 100%;
    }
}

