* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    min-height: 100vh;
    background: linear-gradient(135deg, #40dab6 0%, #65a1c3 100%);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 12px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    width: 50px;
}

.nav-horizontal a {
    margin: 0 8px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.nav-horizontal a:hover {
    color: #4eb69d;
}

.perfil {
    width: 35px;
    height: 35px;
    background-color: #bbb;
    border-radius: 50%;
}

.TituloEvento {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}


.contenedor-eventos {
    display: flex;
    gap: 30px;
    padding: 20px;
}


.lista-eventos {
    width: 65%;
}

.lista-eventos h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

.lista-eventos .desc {
    margin-bottom: 20px;
    color: #555;
}


.filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filtros button {
    padding: 6px 15px;
    background: #e7e7e7;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.filtros .active {
    background: #4eb69d;
    color: white;
}

.evento {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.63) 0px 2px 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.img-evento {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.info {
    padding: 15px;
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

span {

    width: 70px;

}

.info h3 {
    font-size: 18px;
}

.detail {
    font-size: 13px;
    color: #555;
}

.mini {
    margin: 10px 0;
    font-size: 13px;
}


.tag {
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

.verde {
    background: #4eb69d;
}

.azul {
    background: #5a8dee;
}

.naranja {
    background: #e88f3b;
}


.btn-info {
    padding: 5px 10px;
    border: none;
    background: #4eb69d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


.sidebar {
    width: 30%;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.466) 0px 2px 5px;
}

.box h3 {
    margin-bottom: 10px;
}

.box ul {
    list-style: none;
}

.box ul li {
    margin-bottom: 8px;
}

.box ul li a {
    text-decoration: none;
    color: #4eb69d;
}

.cats {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 6px;
    font-size: 14px;
}

.calendario {
    width: 100%;
}


@media (max-width: 900px) {
    .contenedor-eventos {
        flex-direction: column;
    }

    .lista-eventos,
    .sidebar {
        width: 100%;
    }
}

.btn {
    padding: 5px 10px;
    border: none;
    background: #4eb69d;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.274) 5px 2px 5px;
}

.Cont-filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.btn-crear {
    padding: 6px;
    background: #51b8a0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.274) 5px 5px 5px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 15px;
}