*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef1f5;
}


.contenedor{
    display:flex;
    height:100vh;
}


.menu{
    width:220px;
    background:#417a61;
    color:white;
    padding:20px;
}

.menu h2{
    margin-bottom: 30px;
}

.menu nav{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.menu button{
    padding:12px;
    border:none;
    background:#3e896e;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.menu button:hover{
    background:#62a982;
}


.logo{
    text-align:center;
}

.logo img{
    width:90px;
    margin-bottom:10px;
}


.botones-menu{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-top:30px;
}

.botones-menu button{
    padding:12px;
    border:none;
    background:#3e896e;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:0.3s;
}

.botones-menu button:hover{
    background:#48996c;
}


.perfil{
    text-align:center;
    left: 50%;
}

.perfil img{
    width:110px;
    height:110px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:8px;
    border:3px solid white;
}


.contenido{
    flex:1;
    padding:40px;
}

.contenido h1{
    font-size:32px;
    margin-bottom:20px;
}


.btn-crear{
    background:#6ab57b;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    margin: 20px 0;
    cursor: pointer;
}


.categorias{
    display:flex;
    gap:30px;
}


.card{
    width:180px;
    height:180px;
    background:white;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}


.card img{
    width:90px;
    height:90px;
    object-fit:cover;
    margin-bottom:10px;
}


.card p{
    font-size:18px;
    font-weight:bold;
}


.paginacion{
    margin-top:40px;
    display:flex;
    align-items:center;
    gap:15px;
}

.paginacion button{
    padding:8px 14px;
    border:none;
    background:#5ab39e;
    color:white;
    border-radius:6px;
    cursor:pointer;
}


